
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <form id="count-chars">
            <div class="form-group">
                <label for="input">Enter something and I'll spit out how many characters it has.</label>
                <input type="text" class="form-control" id="charset" />
            </div>
            <button id="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <hr />
    <div class="container">
        <div>
            <p id="count-result"></p>
        </div>
    </div>
</div>